.container {
  display: flex;
  justify-content: space-around;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.color-picker {
  width: 250px;
  height: 75px;
  border: none;
  cursor: pointer;
}
